@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@theme {
	--font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
	font-family: var(--font-sans);
}

* {
	font-variant-caps: normal;
	font-feature-settings: normal;
	letter-spacing: 0.05em;
	font-weight: 300;
}

/* On applique le style du Modèle 1 aux titres, paragraphes et boutons */
h1, h2, h3, h4, p, nav a, button {
	text-transform: uppercase;
}

/* On réduit tout proportionnellement pour simuler les petites capitales */
/* Cela garde le ratio entre un h1 (4xl) et un p (base) intact */
:root {
	font-size: 0.85rem;
}

/* On agrandit très légèrement la première lettre pour la "différenciation" subtile */
h1::first-letter, h2::first-letter, h3::first-letter, h4::first-letter, p::first-letter, nav a::first-letter, button::first-letter {
	font-size: 1.25em;
}

h1, h2, h3, h4, b, strong {
	font-weight: 500;
}
